.center {
  margin: auto;
  width: 500px;
  padding: 10px;
  font-family: "Lucida Console", "Courier New", monospace;
  z-index:2;
}

input[type=text], input[type=number], input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: #fff;
}


button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Lucida Console", "Courier New", monospace;
}

button:hover {
  background-color: #45a049;
}

.image {
	width: 500px;
	height: 500px;
	background-image: url("brochure.png");
	position:relative;
	z-index:-1;
}

.koala {
	width: 500px;
	height: 549px;
	background-image: url("koala.png");
	position:relative;
	z-index:-1;
}

.pdm {
	width: 500px;
	background-image: url("pdm.png");
	position:relative;
	z-index:-1;
}
